[req]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName =  {{ tls_cert_country }}
stateOrProvinceName =  {{tls_cert_state }}
localityName =  {{tls_cert_locality }}
organizationName =  {{tls_cert_organization }}
organizationalUnitName = {{ tls_cert_department }}
commonName =  {{item.common_name}}

[v3_req]
basicConstraints = CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
{% if ((item.alt_names is defined) and (item.alt_names is not none)) %}
subjectAltName = @alt_names
{% endif %}

{% if ((item.alt_names is defined) and (item.alt_names is not none)) %}
[alt_names]
{% for alt_name in item.alt_names %}
{% if ((alt_name is defined) and (alt_name is not none)) %}DNS.{{loop.index}} = {{ alt_name }}
{% endif %}
{% endfor %}
{% endif %}



